* {
	margin: 0;
	padding: 0;
	color: #292929;
	overflow-x: hidden;
}

/* Navbar Designing */

header {
	width: 100%;
	height: 10vh;
	position: fixed;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: 20px;
	z-index: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

header a {
	flex: 0.25;
	font-weight: 900;
	text-decoration: none;
	margin-left: 30px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header nav {
	flex: 3.75;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

header ul {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-left: 30%;
	gap: 30px;
}

header nav ul a {
	font-weight: 500;
	transition: color 0.2s ease-in-out;
}

header nav ul a:hover {
	color: #fc790f;
}

header nav img {
	object-fit: cover;
	height: 30px;
	width: 30px;
	border: 2px solid #000;
	border-radius: 100%;
	margin-left: 300px;
	transition: background-color 0.2s ease-in-out;
}

header nav img:hover {
	background-color: whitesmoke;
	cursor: pointer;
}

.my-img {
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 10vh;
	z-index: -1;
}

/* First presentation site */

.first-presentation {
	width: 100%;
	height: 100vh;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 100px;
}

.left {
	width: 40%;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 40px;
}

.right {
	width: 60%;
	height: 100vh;
	display: flex;
	align-items: center;
	overflow-y: hidden;
}

.right img {
	width: 100%;
	height: 95%;
	padding: 50px 0 0 0;
	object-fit: contain;
}

.first-presentation div h1 {
	text-transform: capitalize;
	text-align: center;
	font-size: 50px;
	margin-bottom: 30px;
	background: none;
}

.first-presentation div p {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-weight: 100;
	text-align: justify;
	margin-bottom: 30px;
	background: none;
}

.first-presentation div button {
	width: 30%;
	height: 50px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-weight: 700;
	font-size: 15px;
	background: #fc790f;
	border: none;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.first-presentation div button:hover {
	color: #fc790f;
	background: #292929;
}

/* Popular subjects section */

.popular-subject {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 100px;
}

.popular-subject h1 {
	text-transform: uppercase;
	text-align: center;
	font-size: 50px;
	margin-bottom: 70px;
}

.popular-subject h1 hr {
	color: #fc790f;
}

.popular-subject div {
	width: 80%;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.popular-subject div ul {
	list-style: none;
	display: flex;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
	overflow-y: hidden;
}

.popular-subject div ul li {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	border-width: 2px;
	border-radius: 10px;
	gap: 20px;
	transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.popular-subject div ul li:hover {
	cursor: pointer;
	background: #fc790f;
	color: #fff;
}

.popular-subject div ul li:hover h2,
.popular-subject div ul li:hover p,
.popular-subject div ul li:hover h2 hr {
	color: #fff;
}

.popular-subject div ul li h2 hr {
	color: #fc790f;
}

.popular-subject div ul li img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 10rem;
}

.popular-subject div ul li h2 {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 20px;
	cursor: pointer;
	text-transform: uppercase;
}

.popular-subject div ul li p {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 15px;
	font-weight: 100;
}

/* Popular courses section */

.popular_course {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.popular_course h1 {
	text-transform: uppercase;
	text-align: center;
	font-size: 50px;
	margin-bottom: 70px;
}

.popular_course h1 hr {
	color: #fc790f;
}

.popular_course div {
	width: 100%;
	height: 300px;
	overflow-y: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.popular_course div ul {
	width: 70%;
	height: 100%;
	gap: 100px;
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.popular_course div ul li {
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
	z-index: 1;
	position: relative;
}

.popular_course div ul li:hover {
	cursor: pointer;
}

.popular_course a {
	position: absolute;
	text-decoration: none;
	font-size: medium;
	background: #fc790f;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-weight: 500;
	padding: 10px 10px 10px 10px;
	opacity: 0;
	transition: 0.4s ease-in-out opacity, 0.4s ease-in-out background-color,
		0.4s ease-in-out color;
}

.popular_course a:hover {
	background-color: #292929;
	color: #fc790f;
}

.popular_course li:hover a {
	opacity: 1;
}

.popular_course div ul li h2 {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 20px;
	cursor: pointer;
	text-transform: capitalize;
}

.popular_course div ul li img {
	width: 200px;
	height: 200px;
	object-fit: contain;
}

.popular_course div ul li h2 {
	height: 50px;
}

.popular_course div ul li h2 hr {
	color: #fc790f;
}

/* Footer */

footer {
	width: 100%;
	height: 350px;
	background: whitesmoke;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer hr {
	width: 80%;
}

.info-eps {
	width: 80%;
	height: 300px;
	display: flex;
	flex-direction: row;
	gap: 30px;
	align-items: flex-start;
	justify-content: center;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.logo-link {
	flex: 1;
}

.logo-link a {
	font-weight: 900;
	text-decoration: none;
	font-size: 1.5rem;
	margin-bottom: 20px;
}

.logo-link p {
	width: 100%;
	text-align: justify;
	margin-bottom: 20px;
}

.logo-link div {
	display: flex;
	flex-direction: row;
	justify-content: left;
	gap: 20px;
	width: 100%;
	height: 50px;
}

.logo-link div img {
	background-color: #595959;
	padding: 15px 15px 15px 15px;
	cursor: pointer;
	transition: 0.2s ease-in-out background-color;
}

.logo-link div img:hover {
	background-color: #fc790f;
}

.quick-links {
	flex: 1;
}

.quick-links h1 {
	margin-bottom: 20px;
	font-size: 2rem;
}

.quick-links li {
	margin-bottom: 10px;
}

.quick-links a {
	text-decoration: none;
	transition: 0.2s ease-in-out text-decoration, 0.2s ease-in-out color;
}

.quick-links a:hover {
	color: #fc790f;
	text-decoration: underline;
}

.useful-links {
	flex: 1;
}

.useful-links h1 {
	font-size: 2rem;
	margin-bottom: 20px;
}

.useful-links li {
	margin-bottom: 10px;
}

.useful-links a {
	text-decoration: none;
	transition: 0.2s ease-in-out text-decoration, 0.2s ease-in-out color;
}

.useful-links a:hover {
	color: #fc790f;
	text-decoration: underline;
}

.newsletter {
	flex: 1.5;
}

.newsletter h1 {
	font-size: 2rem;
}

.newsletter h1,
.newsletter p,
.newsletter input {
	margin-bottom: 20px;
}

.newsletter input[type="email"] {
	padding: 12px;
	width: 90%;
	height: 30px;
	border: 1px solid whitesmoke;
}

.newsletter input[type="email"]:focus {
	outline: 0;
	border: 1px solid #fc790f;
}

.newsletter input[type="submit"] {
	width: 30%;
	height: 50px;
	border: none;
	background: #fc790f;
	font-size: 1rem;
	cursor: pointer;
	transition: 0.2s ease-in-out color, 0.2s ease-in-out background-color;
}

.newsletter input[type="submit"]:hover {
	background-color: #292929;
	color: #fc790f;
}

.created-by {
	width: 80%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-weight: 500;
	text-align: center;
	font-size: 1rem;
}

.created-by span {
	color: #fc790f;
	font-weight: 700;
}

/* contact page designing */

/* contact-info */

.contact-info {
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.contact-header {
	text-align: center;
	margin-top: 100px;
	font-size: 40px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.contact-info ul {
	width: 80%;
	height: 300px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.contact-info li {
	width: 35%;
	height: 80%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	justify-content: center;
	border: 1px solid #fc790f;
	transition: 0.2s ease-in-out background-color;
}

.contact-info li img {
	width: 50px;
	height: 50px;
	object-fit: contain;
	transition: 0.2s ease-in-out background-color;
}

.contact-info li img:hover {
	background: #fc790f;
}

.contact-info li:hover {
	background: #fc790f;
}

/* send message */

.send-message {
	margin-top: 50px;
	width: 100%;
	height: 45rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.send-message div {
	overflow-y: hidden;
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: row;
	gap: 100px;
	align-items: center;
	justify-content: center;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.send-message img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.send-message div div {
	display: flex;
	height: 80%;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding-left: 30px;
	border: 1px solid #fc790f;
}

.send-message h2 {
	font-size: 2rem;
}

.send-message form {
	width: 100%;
	height: 60%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 20px;
}

input[type="text"],
input[type="email"],
input[type="number"] {
	width: 90%;
	height: 30px;
	padding: 12px;
	outline: 0;
	font-size: 1rem;
	border: 1px solid;
	transition: 0.2s ease-in-out background-color;
}

textarea {
	outline: 0;
	font-size: 1rem;
	padding: 12px;
	width: 90%;
	border: 1px solid;
	transition: 0.2s ease-in-out background-color;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
	border: 1px solid #fc790f;
	outline: 0;
	background-color: #fc790f;
}

.send-message input[type="submit"] {
	width: 30%;
	height: 50px;
	padding: 10px;
	border: none;
	background: #fc790f;
	font-size: 1rem;
	cursor: pointer;
	transition: 0.2s ease-in-out color, 0.2s ease-in-out background-color;
}

.send-message input[type="submit"]:hover {
	background-color: #292929;
	color: #fc790f;
}

/* about page designing */

.about-header {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 2.5rem;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 30px;
}

.stat-course {
	width: 100%;
	height: 400px;
	margin-bottom: 30px;
}

.stat-course div {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 2fr 2fr;
	gap: 30px;
}

div.first {
	display: flex;
	align-items: center;
	justify-content: center;
	grid-row-start: 1;
	grid-row-end: 3;
}

div.first img {
	object-fit: contain;
	width: 80%;
	height: 100%;
}

div.second {
	width: 80%;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

div.second h2 {
	font-size: 2rem;
}

div.second p {
	text-align: justify;
}

div.third {
	width: 80%;
	grid-column-start: 2;
	grid-column-end: 3;
	display: flex;
	align-items: center;
	justify-content: center;
}

div.third div {
	width: 30%;
	height: 95%;
	background: whitesmoke;
	border: 1px solid #fc790f;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

div.third div img {
	width: 50px;
	height: 50px;
}

div.third p.points {
	font-size: 1.4rem;
	font-weight: 700;
}

div.third {
	font-size: 1rem;
	font-weight: 100;
}

/* Teachers presentation designing */

.teachers {
	margin-bottom: 30px;
	margin-top: 30px;
}

.teachers ul {
	display: grid;
	list-style-type: none;
	grid-gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	grid-auto-rows: 20rem;
	grid-auto-flow: dense;
	padding: 30px 100px 30px 100px;
}

.teachers ul li {
	border: 1px solid #fc790f;
}

.teachers ul li {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.teachers ul li footer {
	width: 100%;
	height: 20%;
}

.teachers ul li div {
	overflow-y: hidden;
}

.teachers ul li div img {
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	object-fit: contain;
	transition: 0.3s ease-in-out background-color;
}

.teachers ul li:hover > div > img {
	background-color: #fc790f;
}

.social-links {
	position: absolute;
	opacity: 0;
	background: #595959;
	width: 50%;
	height: 15%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	transform: translateY(-1rem);
	transition: 0.3s ease-in-out transform, 0.4s ease-in-out opacity;
	gap: 20px;
}

.teachers ul > li:hover .social-links {
	transform: translateY(0);
	opacity: 1;
}

.social-links a {
	width: 50%;
	height: 100%;
	overflow-y: hidden;
	transition: 0.3s ease-in-out background-color;
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-links a:hover {
	background-color: #fc790f;
}

.social-links a img {
	padding: 5px;
	width: 50%;
	height: 50%;
	object-fit: contain;
}

.teachers footer {
	width: 100%;
	height: 10%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 1rem;
	font-weight: 600;
}

p[difference] {
	font-weight: 100;
}

/* courses page designing */

.course-header {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 2.5rem;
	text-align: center;
	margin-top: 100px;
}

.mycourses {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}

.mycourses > div {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mycourses > div > a {
	width: 100px;
	border: none;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	background: #fc790f;
	font-size: 1.1rem;
	text-align: center;
	text-decoration: none;
	padding: 10px;
	font-weight: 500;
	transition: 0.2s ease-in-out color, 0.2s ease-in-out background-color;
}

.mycourses > div > a:hover {
	color: #fc790f;
	background-color: #292929;
}

.mycourses ul {
	display: grid;
	list-style-type: none;
	grid-gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	grid-auto-rows: 30rem;
	grid-auto-flow: dense;
	padding: 30px 100px 30px 100px;
	margin-bottom: 30px;
}

.mycourses ul li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid #fc790f;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	position: relative;
}

.mycourses ul li>p{
	width: auto;
	top: 15px;
	left: 15px;
	padding: 5px;
	position: absolute;
	font-weight: 500;
	z-index: 1;
	background: #fff;
}

.mycourses ul li div[image] {
	width: 100%;
	height: 60%;
	display: flex;
	align-items: center;
	overflow-y: hidden;
	justify-content: center;
}

.mycourses ul li div[image] img {
	width: 100%;
	height: 100%;
	border: none;
	object-fit: cover;
	transform: scale(1);
	transition: 0.3s ease-in-out transform;
}

.mycourses ul li:hover div[image] img {
	transform: scale(1.2);
}

.mycourses ul li div[paragraph] {
	width: 80%;
	height: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.mycourses div[paragraph] h2 {
	font-size: 1.5rem;
	font-weight: 500;
	text-transform: capitalize;
}

.mycourses div[paragraph] p {
	text-align: center;
	font-weight: 100;
}

.mycourses div[paragraph] a {
	font-size: 0.9rem;
	font-weight: 500;
	background: #fc790f;
	text-decoration: none;
	padding: 5px;
	transition: 0.2s ease-in-out background-color, 0.2s ease-in-out color;
}

.mycourses div[paragraph] a:hover {
	background-color: #292929;
	color: #fc790f;
}

.mycourses ul li div[underline] {
	width: 80%;
	height: 1px;
	background: #fc790f;
}

.mycourses ul li div[time] {
	width: 80%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 300;
}
